{% extends 'base.html' %}
{% load static %}

{% block description %} {{ title }} {% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

<main id="main">
    {% include 'inc/_header_blog.html' %}
    <!-- ======= Contact Section ======= -->
    <div id="contact"
         class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>{{ title }}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-phone"></i>
                                <p>
                                    Call: +1 5589 55488 55<br>
                                    <span>Monday-Friday (9am-6pm)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-envelope"></i>
                                <p>
                                    Email: {{ email }}<br>
                                    <span>Web: {{  logo_name }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-geo-alt"></i>
                                <p>
                                    Уфа<br>
                                    <span>Респ. Башкортостан</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Start Google Map -->
                    <div class="col-md-6">
                        <!-- Start Map -->
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d294808.9552909601!2d55.7405139!3d54.741374!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d93a259216bce1%3A0xaceec0921eda92cc!2z0KPRhNCwLCDQoNC10YHQvy4g0JHQsNGI0LrQvtGA0YLQvtGB0YLQsNC9!5e0!3m2!1sru!2sru!4v1631281705626!5m2!1sru!2sru"
                                width="100%"
                                height="380"
                                frameborder="0"
                                style="border:0"
                                allowfullscreen></iframe>
                        <!-- End Map -->
                    </div>
                    <!-- End Google Map -->

                    <!-- Start  contact -->
                    <div class="col-md-6">
                        <div class="form contact-form">
                            <form action='{% url "contact" %}'
                                  method="post">
                                {% csrf_token %}
                                {{ form.non_field_errors }}
                                <div class="form-group mt-3">
                                    {{ form.name.errors }}
                                    <input type="text"
                                           class="form-control"
                                           name="name"
                                           id="form.name.id_for_input"
                                           placeholder="{{ form.name.label }}"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    <strong>{{ form.email.errors }}</strong>
                                    <input type="email"
                                           class="form-control"
                                           name="email"
                                           id="form.email.id_for_input"
                                           placeholder="name@example.com"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    {{ form.subject.errors }}
                                    <input type="text"
                                           class="form-control"
                                           name="subject"
                                           id="{{ form.subject.id_for_input }}"
                                           placeholder="{{ form.subject.label }}"
                                           required>
                                </div>
                                <div class="form-group mt-3">
                                    {{ form.message.errors }}
                                    <textarea class="form-control"
                                              name="message"
                                              rows="5"
                                              placeholder="{{ form.message.label }}"
                                              required></textarea>
                                </div>
                                <div class="form-group mt-3">
                                    {{ form.captcha.errors }}
                                    {{ form.captcha }}
                                </div>
                                <div class="text-center form-group mt-3">
                                    <button type="submit"
                                            class="btn btn-outline-info">Отправить
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock content %}