{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% include 'inc/_heroCarousel.html' %}

<main id="main">
    {% include 'inc/_about.html' %}

    {% comment %}
    {% include 'inc/_services.html' %}
    {% include 'inc/_team.html' %}
    {% include 'inc/_reviews.html' %}
    {% include 'inc/_price.html' %}
    {% include 'inc/_testimonials.html' %}
    {% include 'inc/_news.html' %}
    {%endcomment%}

    {% include 'inc/_portfolio.html' %}



    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Добро пожаловать | {{ logo_name }}</h3>
                        <a class="sus-btn"
                           href="#">Подписаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Suscribe Section -->


</main><!-- End #main -->
{% endblock %}