{% extends 'base.html' %}
{% load static %}

{% block description %} {{ title }} {% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-4">

            <h2>Авторизация</h2>
            {% if user.is_authenticated %}
            <p>Вы уже выполнили вход</p>
            {% else %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
            <br>
            <a href="{% url 'restore_password' %}" class="btn btn-primary btn-block" role="button">Забыли пароль?</a>
            {% endif %}

        </div>
    </div>
</div>
<hr>

{% endblock content %}