<div class="widget">
    <h5 class="widgetheading">Latest posts</h5>
    <ul class="recent">
        {% for post in posts %}
        <li>
            {% if post.photo %}
            <span class="border-10"><img src="{{ post.photo.url }}" class="pull-left" width="75" alt=""/></span>
            {% else %}
            <img src="https://picsum.photos/id/1060/536/354/?blur=2" class="pull-left" width="75" alt=""/>
            {% endif %}
        </li>
        <li>
            <h6><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
            <p>
                {{ post.content|safe|linebreaks|truncatewords:5 }}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
    