{% load static %}

<div class="single-blog-page">
    <div class="left-blog">
        <h4>Популярные посты</h4>
        {% for post in posts %}
        <div class="recent-single-post">
            <div class="post-img">
                <a href="{{ post.get_absolute_url }}">
                    {% if post.photo %}
                    <img src="{{ post.photo.url }}"
                         alt="">
                    {% else %}
                    <img src="{% static '/img/plug.jpg' %}"
                         alt="">
                    {% endif %}
                </a>
            </div>
            <div class="pst-content">
                <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                <span class="comments-type">
                    <i class="bi bi-person"></i>
                    {{ post.author }}
                </span>
                <span class="comments-type">
                    <i class="bi bi-eye"></i>
                    {{ post.views }}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>