{% extends 'base.html' %}
{% load static %}

{% block description %} {{ title }} {% endblock %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
<main id="main">

    {% include 'inc/_header_blog.html' %}

    <div class="blog-page area-padding">
        <div class="container">
            <div class="row">

                <!-- Start left sidebar -->
                {% include 'inc/_sidebar.html' %}
                <!-- End left sidebar -->

                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <article class="blog-post-wrapper">
                            <div class="text-center">
                                <h3>Удаление поста</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    <p>Вы уверены, что хотите удалить: "{{ title }}"?</p>

                                        <button type="submit"
                                                class="btn btn-primary btn-block">Удалить запись
                                        </button>
                            </div>
                            </form>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
