{% load static %}
{% load menu %}
<aside class="right-sidebar">
    <div class="widget">
        <form class="form-search">
            <input class="form-control" type="text" placeholder="Search..">
        </form>
    </div>
        {% show_menu %}
    <div class="widget">
        <h5 class="widgetheading">Latest posts</h5>
        <ul class="recent">
            <li>
                <img src="{% static 'img/blog/1.jpg' %}" class="pull-left" alt=""/>
                <h6><a href="#">Lorem ipsum dolor sit</a></h6>
                <p>
                    Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
            </li>
            <li>
                <a href="#"><img src="{% static 'img/blog/2.jpg' %}" class="pull-left" alt=""/></a>
                <h6><a href="#">Maiorum ponderum eum</a></h6>
                <p>
                    Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
            </li>
            <li>
                <a href="#"><img src="{% static 'img/blog/3.jpg' %}" class="pull-left" alt=""/></a>
                <h6><a href="#">Et mei iusto dolorum</a></h6>
                <p>
                    Mazim alienum appellantur eu cu ullum officiis pro pri
                </p>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h5 class="widgetheading">Popular tags</h5>
        <ul class="tags">
            <li><a href="#">Web design</a></li>
            <li><a href="#">Trends</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Internet</a></li>
            <li><a href="#">Tutorial</a></li>
            <li><a href="#">Development</a></li>
        </ul>
    </div>
</aside>