{% load static %}
{% load menu %}
{% load sidebar %}
<div class="col-lg-4 col-md-4">
    <div class="page-head-blog">
        <div class="single-blog-page">
            <form action="{% url 'search' %}"
                  method="get"
                  class="form-search">
                <div class="search-option">
                    <input type="text"
                           name="s"
                           placeholder="Поиск..">
                    <button class="button"
                            type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
        {% if request.user.is_authenticated %}
        <div class="single-blog-page">
            <div class="left-blog">
                <h4><a class="nav-link active"
                       aria-current="page"
                       href="{% url 'blog_post_add' %}">Добавить запись</a></h4>
            </div>
        </div>
        {% endif %}
        {% show_menu %}
        {% get_popular 5 %}
        {% get_list_tags %}
    </div>
</div>